/* variables */
:root {
  /* text color */
  --title-color1: #A82A1E;
  --title-color2: #75332D;
  --text-color1: #332B2A;
  --text-color2: white;

  /* background colors */
  --bg-color1: white;
  --bg-color2: #332928;
  --main-color: #A82A1E;
  --secondary-color: #75332D;

  /**/
}
/* reset */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

::-webkit-scrollbar {
  display: none;
}

h2, h3{
  color: var(--title-color1);
}

/* nav */
header {
  height: 100vh;
  position: fixed;
  z-index: 3;
}

header > ul {
  
  display: flex;
  flex-direction: column;
  padding: .5em 1em;
  border-radius: 0px 7px 7px 0px;
  
  height: 60vh;
  margin: 20vh 0;
  justify-content: space-evenly;
  align-items: center;
  color: var(--text-color2);
}

header > ul > li {
  padding: .7em;
  border-radius: 50%;
  background-color: var(--main-color);
  box-shadow: 2px 2px 5px black;
}

header > ul > li:hover{
  transform: scale(1.2);
  cursor: pointer;
}

.contactMe {
  width: 50px;
  height: 50px;
  position: fixed;
  bottom: 10vh;
  right: 5vw;
  z-index: 1;
  box-shadow: 0px 0px 10px var(--secondary-color);
  overflow: hidden;
  border-radius: 50%;
  transform: rotate(-30deg);

  animation: pulse 3s linear infinite;
}

@keyframes pulse {
  20% {
    scale: 1.2;
    box-shadow: 0px 0px 30px var(--secondary-color);
  }
  40% {
    scale: 1;
    box-shadow: 0px 0px 10px var(--secondary-color);
  }
  60% {
    scale: 1.4;
    box-shadow: 0px 0px 70px var(--secondary-color);
  }
  80%, 100% {
    scale: 1;
    box-shadow: 0px 0px 10px var(--secondary-color);
  }
}

.contactMe > a {
  text-align: center;
  display: block;
}

.contactMe img{
  width: 50px;
  height: 50px;
  margin: 0;
}

.contactMe > a > div {
  padding: 0;
  margin: 0;
  height: 1em;
}

.wrap-section{
  width: 100vw;
  min-height: 100vh;
}

#home {
  color: var(--text-color2);
  background: linear-gradient(
    var(--main-color) 0%, 
    var(--secondary-color) 20%, 
    var(--bg-color2) 40%);
  position: relative;
  overflow: hidden;
  z-index: 2;
}

.welcome {
  position: static;
  margin: 30vh auto;
  width: 60%;
  padding: 2em;
  border-radius: 7px;
}

.welcome > h1 {
  font-size: 2em;
}

.welcome > h1 > span {
  color: var(--title-color1);
  text-shadow: 0.3px .3px 1px black;
  font-size: 1.3em;
}

.welcome > div {
  width: min-content;
}

.welcome > div > h2 {
  color: white;
  white-space: nowrap;
  padding: 0;
  overflow: hidden;
  width: 11em;
  height: 1.2em;
  border-right: 3px solid;
  animation: typing-letters 12s steps(23) infinite, transparent-letter 0.5s step-end infinite alternate;
}

.welcome > div > h2::before {
  content: "Frontend";
  animation: changeLetter 12s linear infinite forwards; 
}

.bubles {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
}

.bubles > span {
  background-color: var(--main-color);
  height: 5vw;
  width: 5vw;
  position: absolute;
  top: -10vw;
  /*top: -40px;*/
  border-radius: 50%;
  box-shadow: 0 0 10px var(--main-color),
    0 0 25px var(--secondary-color);
  animation-name: bubbles-motion;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes bubbles-motion {
  from {
    top: -10vw;
  }
  to{
    top: 70vh;
    scale: 0.0;
  }
}

@keyframes changeLetter {
  65% {
    content: "Backend";
  }
  66%, 100% {
    content: "Full Stack";
  }
}

@keyframes typing-letters {
  0% {
    width: 0px;
  }
  15%, 22%{
    width: 100%;
  }
  32%{
    width: 0px;
  }
  47%, 55%{
    width: 100%;
  }
  65%{
    width: 0px;
  }
  80%, 90%{
    width: 100%;
  }
  100%{
    width: 0px;
  }
}

@keyframes transparent-letter {
  50% {
    border-color: transparent;
  }
}

/* Resume */

.wrap-section-content {
  width: 70%;
  margin: 6em auto;
  padding-top: 4em;
  border-top: 3px solid var(--main-color);
  padding-bottom: 3em;
  border-bottom: 3px solid var(--main-color);
}

.wrap-section-content > article:nth-child(1) > h2 {
  margin-bottom: 1em;
}

.wrap-section-content > article:nth-child(1) > p > a{
  color: var(--title-color1);
  text-transform: capitalize;
  font-style: oblique;
}

.wrap-section-content > article:nth-child(2) {
  margin-top: 2em;
  overflow: hidden;
}

.wrap-section-content > article:nth-child(2) > h3 {
  margin-bottom: .5em;
}

/*
.fromRight {
  position: relative;
  left: 100vh;

  animation: from-right linear forwards;
  animation-timeline: view();
  animation-range: 0 40vh;
}

.fromLeft {
  position: relative;
  left: -100vh;

  animation: from-left linear forwards;
  animation-timeline: view();
  animation-range: 0 40vh;
}

@keyframes from-right {
  to{
    left: 0vh;
  }
}

@keyframes from-left {
  to{
    left: 0vh;
  }
}
*/

.skills-list-container {
  mask: linear-gradient(
    90deg,
    transparent,
    white 10%,
    white 90%,
    transparent);
}

.skills-list {
  display: flex;
  margin-top: 2em;
  gap: 5em;
  justify-content: space-evenly;
  padding: 1em 0;
  /**/
}

.moveLeft {
  animation: scrolling 15s linear infinite;
  animation-direction: alternate;
}

.moveRight {
  animation: scrolling 15s linear infinite;
  animation-direction: alternate-reverse;
}

.skills-list > li {
  text-align: center;
}

@keyframes scrolling {
  to {
    transform: translate(50%);
  }
}

.skills-list > li > img{
  width: 75px;
  height: 75px;
  display: block;
  filter: drop-shadow(1px 1px 10px var(--bg-color2));
}

/* PROJECTS */

#projects > .wrap-section-content > p {
  margin-top: 2em;
}


/* for pc */
.projects-list {
  margin: 1em auto;
  width: 100%;
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}

.project-container {
  flex-grow: 1;
  width: 0;
  filter: brightness(85%);
  transition: width .7s ease, height 0.7s ease, filter .5s linear;
}

.project-image {
  height: 300px;
  background-size: cover;
  background-position: center;
}

.project-image > div {
  display: none;
  width: 70%;
  padding-top: 4em;
  margin: 0 auto;
  border-radius: 10px;
  overflow: hidden;
}

.project-image > div > div {
  background: rgba(255, 255, 255, 0.85);
}

.project-image > div > div:nth-child(1) {
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding: 1em;
}

.project-image > div > div:nth-child(1) > h3 {
  text-align: center;
  margin-bottom: 1em;
}

.project-image > div > div:nth-child(1) > h4 {
  color: var(--main-color);
}

.project-image > div > div:nth-child(2) {
  display: flex;
  justify-content: space-evenly;
  color: var(--title-color1);
  padding: 1em 0;
}

.project-image > div > div:nth-child(2) > a {
  text-align: center;
}

.project-image div div:nth-child(1){
  font-size: .8em;
}

.project-description {
  visibility: hidden;
  display: none;
}

.project-container:hover {
  width: 60%;
  filter: brightness(100%);
}

.project-container:hover .project-image > div {
  display: block;
}

/*  FOR SMALL DEVICES 


.project-container {
  margin: 1em 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.project-description {
  flex-grow: 2;
  width: 0;
  z-index: 1;
}

.project-image{
  flex-grow: 1;
  width: 0;
  transition: width 0.7s ease;
  background-size: cover;
  background-position: 50% 25%;
}

.project-image > div {
  display: none;
  visibility: hidden;
}

*/

.pokeBg{
  background-image: url('/poekdex.png');
}

.rickBg{
  background-image: url('/rickAndMorty.png');
}

.weatherBg{
  background-image: url('/weather.png');
}

/*
.project-image:hover {

  width: 100%;
  z-index: 1;
  background-color: red;
}

.project-image:hover + .project-description{
  display: none;
}
*/

/* contact */

#contact > .wrap-section-content > h2 {
  margin-bottom: 1em;
}
.contact__list {
  margin: 2em auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.contact__list > li {
  transition: scale 1s ease;
}

.contact__list > li:hover {
  scale: 1.2;
}

.contact__list > li > a > img {
  height: 75px;
  width: 75px;
}
.contact__list > li > a > div {
  text-align: center;
  color: #75332D;
}

/* Medias */
@media (width > 1200px) {
  .skills-list {
    gap: 8em;
    justify-content: space-evenly;
  }

  header > ul {
    width: 50%;
    padding: 1em 1.5em;
  }
  .moveLeft{
    animation: scrolling 20s linear infinite;
    animation-direction: alternate;
  }

  .moveRight{
    animation: scrolling 20s linear infinite;
    animation-direction: alternate-reverse;
  }
  .project-image {
    height: 350px;
  }
  .contact__list > li > a > img {
    height: 100px;
    width: 100px;
  }
}

@media (width < 560px) {
  .skills-list {
    gap: 0em;
    padding: 0;
  }

  header > ul {
    width: 90%;
    justify-content: space-between;
    font-size: .8em;
  }

  .welcome {
    padding: 2em 0em;
  }

  .skills-list > li {
    scale: .5;
  }

  .moveLeft{
    animation: scrolling 10s linear infinite;
    animation-direction: alternate;
  }

  .moveRight{
    animation: scrolling 10s linear infinite;
    animation-direction: alternate-reverse;
  }
  .welcome {
    width: 80%;
  }

  .welcome > div > h2 {
    font-size: 1.1em;
  }

  .project-image > div {
    padding-top: 2em;
  }

  .projects-list {
    flex-direction: column;
    height: 500px;
  }

  .project-container{
    flex-grow: 1;
    height: 0;
    width: 100% !important;
  }

  .project-container:hover {
    height: 50%;
  }

  @keyframes scrolling {
    to {
      transform: translate(65%);
    }
  }

  .contact__list > li > a > img {
    height: 75px !important;
    width: 75px !important;
  }
}